div(class='about-section' id='about-section')
  div(class='about-profile-section')
    div(class='about-holder')
      div(class='about-border')
        div(class='about')
          div(class='front')
            img(class='profile-pic' src='http://res.cloudinary.com/lacistijo/image/upload/v1497295385/DSC_0284_1_gbbs7b.jpg' alt='Dori')
          div(class='back')
            img(class='profile-pic' src='http://res.cloudinary.com/lacistijo/image/upload/v1497217035/11053112_10153132424462558_8161287346399142542_o_1_qm5zdr.jpg' alt='Dori')
    div(class='about-holder')
      div(class='about-border')
        div(class='about')
          div(class='front')
            img(class='profile-pic' src='http://res.cloudinary.com/lacistijo/image/upload/v1497212454/17834884_1504031746273529_76989361927290035_o_niboex.jpg' alt='Soma')
          div(class='back')
            img(class='profile-pic' src='http://res.cloudinary.com/lacistijo/image/upload/v1497215761/DSC_0652_ddemvj.jpg' alt='Soma')
  div(class='about-desc-section')
      span(class='about-desc-text') THIS iS A TEST
