/*ABOUT SECTION*/

@-webkit-keyframes rotate
  from
    -webkit-transform: rotateY(0deg)
  to
    -webkit-transform: rotateY(360deg)


.about-section
  min-height: 100vh
  border-color: white
  border-width: 6px
  border-style: none none dashed none
  display: flex
  justify-content: center
  align-items: center
  //height: 500px

.about-profile-section
  width: 300px
  height: 600px

  .about-holder
    cursor: pointer
    height: 260px
    width: 260px
    perspective: 600
    position: relative
    border-radius: 50%



  .about
    height: 100%
    width: 100%
    position: absolute
    border-radius: 50%

    -webkit-transform-style: preserve-3d

  .about-border
    height: 250px
    width: 250px
    border-radius: 50%
    border-style: solid
    border-width: 8px
    border-color: black
    margin: 0 auto
    background-color: black

  .about .front
    backface-visibility: hidden
    border-radius: 50%
    height: 100%
    width: 100%
    position: absolute
    overflow: hidden
    align-content: center
    -webkit-transform-style: preserve-3d


  .about .back
    border-radius: 50%
    height: 100%
    width: 100%
    -webkit-transform: rotateY(180deg)
    -webkit-backface-visibility: hidden


  .about:hover
    -webkit-transition: all 1.75s ease-in-out
    -webkit-transform: rotateY(360deg)
    -webkit-backface-visibility: hidden

  .profile-pic
    height: 250px
    width: 250px
    border-radius: 50%
    -webkit-backface-visibility: hidden

.about-desc-section
  width: 300px
  height: 100vh
