/*ABOUT SECTION*/

.about-section
  min-height: 100vh
  border-color: white
  border-width: 6px
  border-style: none none dashed none
  display: flex
  //justify-content: center
  //align-items: center
  //height: 500px

.about-profile-section
  float: left
  width: 50%
  white-space: normal
  display: flex
  flex-direction: column
  justify-content: space-around
  padding-top: 20px
  padding-bottom: 20px
  //display: block


  .about-holder
    cursor: pointer
    height: 260px
    width: 260px
    perspective: 600
    position: relative
    margin: 0 auto
    padding-top: 10px
    padding-bottom: 10px

  .about
    height: 100%
    width: 100%
    margin: 0 auto
    transform-style: preserve-3d

  .about-border
    height: 250px
    width: 250px
    background-color: black
    border-radius: 50%
    border-style: solid
    border-width: 8px
    border-color: black

  .about .front
    height: 100%
    width: 100%
    border-radius: 50%
    position: absolute
    transform-style: preserve-3d

  .about .back
    border-radius: 50%
    height: 100%
    width: 100%
    transform: rotateY(180deg)
    backface-visibility: hidden

  .about:hover
    transition: all 1.75s ease-in-out
    transform: rotateY(360deg)

  .profile-pic
    height: 250px
    width: 250px
    border-radius: 50%
    backface-visibility: hidden

.about-desc-section
  float: right
  width: 50%
  display: flex
  align-items: center
  justify-content: center


.about-desc-text
  //white-space: pre-wrap
  padding: 40px
  margin: 40px
  //word-wrap: break-word
  font-family: 'Fredericka the Great', cursive
  font-size: 30px
  color: white
  border-color: white
  border-width: 6px
  border-style: dashed
  text-align: center
  background-color: #dcae1d
